#game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.dropdown-container {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 20;
}

.rz-body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.panel {
    position: absolute;
    width: 20vw;
    height: 25vh;
    z-index: 10;
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.85);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transform: rotateX(37deg) rotateY(-12deg) rotateZ(17deg);
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.panel.home {
    background-image: url('Assets/home.jpg');
}

.panel.about {
    background-image: url('Assets/hobby.jpg');
}

.panel.contact {
    background-image: url('Assets/about.jpg');
}

.panel.projects {
    background-image: url('Assets/projects.jpg');
}

.panel.github {
    background-image: url('Assets/github.jpg');
}

.panel:hover {
    transform: scale(1.05);
    opacity: 0.9;
}