@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Home - Under Construction</PageTitle>

<div id="game-container">
    <canvas id="gameCanvas"></canvas>
    <div id="overlayPanel" style="left: 25%; top: 20%;">
        <div id="overlayContent" style="color: black;">
            @panelText
        </div>
    </div>
</div>

@code {
    private string panelText = "/Home";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initGameOfLife");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}