@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Home - Under Construction</PageTitle>

<style>
    .rz-body {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
    }

    .panel {
        position: absolute;
        width: 200px;
        height: 100px;
        z-index: 10;
        pointer-events: none;
        transform-origin: bottom left;
        transform: skew(-62deg, 26deg);
        background: rgba(255, 255, 255, 0.85);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
</style>

<canvas id="gameCanvas"></canvas>
<div class="panel" style="left: 25%; top: 20%;">
    <div>
        Home
    </div>
</div>

@code {
    private string panelText = "/Home";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initGameOfLife");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}