@page "/Projects"
@inject NavigationManager NavigationManager
@using ClassLibrary.Records

<PageTitle>Projects - Under Construction</PageTitle>

<div class="text-center">
    <h1>Welcome to My Projects!</h1>
    <p>Currently under construction... but great things are on the way!</p>
    
    <div style="margin-top: 40px;">
        <RadzenButton Text="Go Home" Click="NavigateToHome" ButtonStyle="ButtonStyle.Info" />
        <RadzenButton Text="Contact Me" Click="HandleContactMe" ButtonStyle="ButtonStyle.Success" Style="margin-left: 10px;" />
    </div>
</div>

@code {

    void NavigateToHome()
    {
        NavigationManager.NavigateTo(Pages.Home);
    }

    void HandleContactMe()
    {
        const string mailtoUrl = "mailto:c.a.popovich@gmail.com?subject=Contact from My Portfolio&body=Hi, I'd like to discuss...";
        NavigationManager.NavigateTo(mailtoUrl, forceLoad: true);
    }

}
