@page "/Resume"
@inject NavigationManager NavigationManager

<div class="resume-container">
    <header>Christopher Popovich, M.Sc., Mechanical-Software Engineer</header>
    <div class="contact-info">
        Rochester, New York |
        <a href="mailto:c.a.popovich@gmail.com">c.a.popovich@gmail.com</a> |
        <a href="https://linkedin.com/in/christopherpopovich" target="_blank">LinkedIn</a>
    </div>
    <section>
        <div class="section-title">Professional Summary</div>
        <p>
            Accomplished Mechanical-Software Engineer with a Master’s degree in Mechanical Engineering focused on Laser Plasma
            Interactions, specializing in the development and implementation of advanced engineering software tools. Expertise in Azure
            DevOps, CI/CD practices, and .NET technologies, coupled with a robust passion for numerical simulation applied to enhance
            system design and operational efficiency. Demonstrated ability to lead sophisticated software projects for diverse applications,
            from data center reliability analysis to engineering tools to training simulation for the U.S. Navy, ensuring successful
            deployments and strategic enhancements. Previously held a Top-Secret security clearance, enabling effective management of
            sensitive and critical projects.
        </p>
    </section>
    <section>
        <div class="section-title">Technical Skills</div>
        <div class="skills-container">
            <div class="skill-category">
                <h4>Languages</h4>
                <p>C#, C, C++, SQL (Postgres, MS-SQL, MySQL), Rust, Go, Python, JavaScript, TypeScript, HTML, XML, JSON, CSS</p>
            </div>
            <div class="skill-category">
                <h4>Frameworks</h4>
                <p>ASP.NET (.NET Core, MVC, VB.NET), Blazor, WPF, WinUI, jQuery, Node.js, Bootstrap</p>
            </div>
            <div class="skill-category">
                <h4>DevOps and API Tools</h4>
                <p>IIS, Git, Docker, Azure DevOps, Build/Release Pipeline Deployment Automation, Swagger, Postman</p>
            </div>
            <div class="skill-category">
                <h4>Software Development</h4>
                <p>Agile (Scrum/Kanban), SOLID, Design Patterns, Debugging, Root Cause Analysis</p>
            </div>
            <div class="skill-category">
                <h4>Mechanical Engineering</h4>
                <p>Thermal System Analysis (Chilled Water Plants), Heat Transfer, Turbulence, Psychrometrics, Computational Fluid Dynamics (6SigmaRoom, ANSYS), Power Usage Effectiveness Analysis, Availability Analysis</p>
            </div>
            <div class="skill-category">
                <h4>Availability and Reliability</h4>
                <p>Monte Carlo Simulation, Reliability Block Diagram (ReliaSoft BlockSim 2023)</p>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">Experience</div>
        <div class="experience-details">
            <strong>Mechanical-Software Engineer Senior Associate | DLB Associates</strong>
            <p>May 2022 – Present</p>
            <ul>
                <li>
                    Spearheaded the development and ongoing enhancement of internal engineering software tools, leveraging expertise in
                    Azure DevOps, CI/CD practices, and .NET languages.
                </li>
                <li>Led successful deployments utilizing .NET 8.0 and Blazor, focusing on robust and scalable software solutions.</li>
                <li>Engineered and optimized chilled water system designs using Pipe-Flo, ensuring strict adherence to client specifications.</li>
                <li>
                    Conducted a detailed availability and reliability analysis of datacenter power delivery systems for a high-profile client,
                    utilizing ReliaSoft BlockSim 2023 to meet stringent reliability requirements.
                </li>
                <li>
                    Developed innovative software to calculate power usage effectiveness for megawatt-sized data center facilities,
                    collaborating with senior engineers to ensure accurate and client-ready solutions.
                </li>
                <li>
                    Created custom Revit add-ins using the Revit API to enhance modeling efficiency and accuracy, tailored to specific project
                    needs.
                </li>
            </ul>
        </div>
        <div class="experience-details">
            <strong>Software Engineer | Crew Training International</strong>
            <p>November 2021 – May 2022</p>
            <ul>
                <li>
                    Led the design and development of a training module as part of simulation software for the U.S. Navy under the Ready,
                    Relevant Learning initiative, utilizing Unity and C# to simulate realistic operational environments
                </li>
                <li>
                    Partnered with internal artists to accurately recreate critical system components and physical settings, ensuring the
                    software met stringent educational and training standards.
                </li>
                <li>
                    Worked closely with Instructional System Designers to develop and implement comprehensive evaluation metrics within
                    Unity projects, enhancing the educational impact of simulations.
                </li>
                <li>
                    Contributed significantly to the maintenance and update of a comprehensive repository of Interactive Courseware Level 4
                    products, utilizing GitLab for sophisticated version control. Collaborated closely with project teams using Jira to effectively
                    track development progress and ensure adherence to project milestones and delivery schedules.
                </li>
                <li>
                    Regularly measured and reported on weekly progress against technical initiatives and project plans, adjusting strategies as
                    necessary to meet stakeholder delivery objectives.
                </li>
                <li>
                    Held a Top-Secret security clearance.
                </li>
            </ul>
        </div>
        <div class="experience-details">
            <strong>Systems Engineer | Tipping Point Solutions</strong>
            <p>October 2020 – November 2021</p>
            <ul>
                <li>
                    Actively contributed to the systems design of advanced simulation tools for the U.S. Navy’s Ready, Relevant Learning
                    initiative. Worked alongside Navy Subject Matter Experts from various specialties to develop high-level systems designs.
                </li>
                <li>
                    Participated in and facilitated key discussions during workshops led by team members, helping to bridge communication
                    between Navy Subject Matter Experts and the engineering team. Provided practical examples of current technologies that
                    could fulfill specific training requirements.
                </li>
                <li>
                    Assisted in the analysis of detailed curriculum, training materials, and secret-level documents related to the maintenance
                    of propulsion, weapons, and aircraft systems, ensuring simulations were developed with a high degree of accuracy and
                    relevance.
                </li>
                <li>
                    Supported the tracking and reporting of project progress, ensuring adherence to timelines and Navy standards. Presented
                    updates and findings directly to Navy officials as required, contributing to informed decision-making and project
                    alignment with naval training goals.
                </li>
                <li>
                    Held a Top-Secret security clearance.
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="section-title">Education</div>
        <div>
            <strong>University of Rochester</strong>
            <p>MS in Mechanical Engineering, October 2017 – October 2018</p>
        </div>
        <div>
            <strong>CSU, Sacramento</strong>
            <p>BS in Mechanical Engineering, June 2015 – December 2016</p>
        </div>
    </section>
    <RadzenButton Text="Download Resume" Click="@DownloadResume" Icon="get_app" Style="margin-bottom: 20px;" />
</div>

@code {
    private void DownloadResume()
    {
        NavigationManager.NavigateTo("Downloads/Christopher_Popovich_Resume_2024.pdf", true);
    }
}